---
import type { Header } from "@packages/sanity/types";
import { Icon } from "@/components/shared/icon";
import RichText from "@/components/shared/rich-text.astro";
import { Body } from "@/components/shared/typography/body";

type Props = Header;

const { announcementText, showAnnouncement } = Astro.props;
---

{showAnnouncement && (
  <div id="announcement-bar" class="w-full bg-secondary">
    <div class="mx-auto flex w-full max-w-max-screen items-center justify-between bg-secondary px-m py-[7.5px] lg:px-xl">
      {announcementText && (
        <Body desktopSize="sm" font="sans" mobileSize="xs">
          <RichText value={announcementText} />
        </Body>
      )}
      <button id="close-announcement" type="button" aria-label="Close announcement">
        <Icon fetchPriority="high" className="size-3.5" name="Close" />
      </button>
    </div>
  </div>
)}

<script>
  const closeButton = document.getElementById("close-announcement");
  const announcementBar = document.getElementById("announcement-bar");

  closeButton?.addEventListener("click", () => {
    announcementBar?.remove();
  });
</script>
