---
import type { Footer as FooterType } from "@packages/sanity/types";
import { SanityImage } from "@/components/sanity-image";
import RichText from "../rich-text.astro";

type Props = FooterType;

const footer = Astro.props;
---

<footer class="w-full bg-accent" id="footer">
  <div
    class="mx-auto flex w-full max-w-max-screen flex-col gap-xl px-m py-xl text-background lg:px-xl"
  >
    {footer.image ? <SanityImage data={footer.image} className="lg:mt-2xl" /> : null}
    <div class="flex w-full justify-between lg:justify-start lg:gap-6xl">
      {footer.information?.map(column => column.text ? (
        <div class="flex flex-col gap-xl w-42.5"><RichText value={column.text} /></div>
      ) : null)}
    </div>
  </div>
</footer>
