---
import type { TEXT_PAGE_QUERY_RESULT } from "sanity.types";
import { Body } from "@/components/shared/typography/body";
import { Heading } from "@/components/shared/typography/heading";
import TextPageRichText from "./rich-text.astro";
import Toc from "./toc.astro";

type Props = NonNullable<TEXT_PAGE_QUERY_RESULT>;

const data = Astro.props;
---

<div class="scroll-mt-header-height flex-col items-center justify-center">
  <section
    class="flex w-full flex-col items-center justify-center gap-xs bg-accent px-xl py-8xl text-center text-background"
  >
    <Heading
      className="heading-l mx-auto w-fit"
      desktopSize="5xl"
      font="serif"
      mobileSize="xl"
      tag="h1"
    >
      {data?.title}
    </Heading>
    <Body className="max-w-150" font="sans" mobileSize="base">
      {data.description}
    </Body>
  </section>
  <section
    class="mx-auto h-full w-full max-w-max-screen flex-col items-stretch justify-start gap-xl px-m py-2xl lg:flex-row lg:justify-center lg:gap-6xl lg:py-8xl"
  >
    <div
      class="flex w-full flex-col justify-center gap-xl lg:flex-row lg:gap-20"
    >
      {data?.body ? (
        <aside class="h-auto w-full lg:max-w-75">
          <Toc value={data?.body} />
        </aside>
      ) : null}
      {data?.body ? (
        <div class="w-full lg:max-w-175">
          <TextPageRichText value={data?.body} />
        </div>
      ) : null}
    </div>
  </section>
</div>
