---
import type { Footer as FooterType } from "sanity.types";
import RichText from "@/components/shared/rich-text.astro";
import { SanityImage } from "@/components/shared/sanity-image";

type Props = FooterType;

const footer = Astro.props;
---

<footer class="w-full bg-accent" id="footer">
  <div
    class="mx-auto flex w-full max-w-max-screen flex-col gap-xl px-m py-xl text-background lg:px-xl"
  >
    {footer.image ? <SanityImage className="lg:mt-2xl" data={footer.image} /> : null}
    <div class="flex w-full justify-between lg:justify-start lg:gap-6xl">
      {footer.information?.map(column => column.text ? (
        <div class="flex w-42.5 flex-col gap-xl"><RichText value={column.text} /></div>
      ) : null)}
    </div>
  </div>
</footer>
