---
import { getLocalizedHref } from "@/lib/utils/get-localized-href";
import ButtonLink from "../shared/button-link.astro";
import { Body } from "../shared/typography/body";

interface Props {
  variant: "button" | "underline";
}

const searchParams = Astro.url.searchParams;

function getClearUrl(): string {
  const newParams = new URLSearchParams(searchParams);
  newParams.delete("collection");
  newParams.delete("category");
  const queryString = newParams.toString();
  return queryString
    ? `?${queryString}`
    : getLocalizedHref({
        href: "/products",
        countryCode: Astro.locals.countryCode,
        defaultCountryCode: Astro.locals.defaultCountryCode,
      });
}

const { variant } = Astro.props;
---

{variant === "button" ? (
  <ButtonLink class="mt-3" href={getClearUrl()} size="sm" variant="outline">
    Clear filters
  </ButtonLink>
) : (
  <a href={getClearUrl()}>
    <Body className="underline" font="sans" mobileSize="sm">
      Clear all
    </Body>
  </a>
)}
