---
import type { HOME_QUERYResult } from "@packages/sanity/types";
import Label from "@/components/shared/typography/Label.astro";

type MarqueeSection = Extract<
  NonNullable<NonNullable<HOME_QUERYResult>["sections"]>[number],
  { _type: "section.marquee" }
>;

interface Props extends MarqueeSection {
  rootHtmlAttributes?: Record<string, string | undefined>;
}

const props = Astro.props;
---

<section
  class="mx-auto flex max-w-max-screen items-center gap-20 overflow-hidden px-xl py-2xl"
  {...props.rootHtmlAttributes}
>
  <div class="flex shrink-0 animate-marquee items-center justify-start gap-20 [--duration:15s] [--gap:5rem]">
    {props.text?.map((item) => (
      <Label
        class="whitespace-nowrap"
        font="display"
        mobileSize="6xl"
      >
        {item}
      </Label>
    ))}
  </div>
  <div class="flex shrink-0 animate-marquee items-center justify-start gap-20 [--duration:15s] [--gap:5rem]">
    {props.text?.map((item) => (
      <Label
        class="whitespace-nowrap"
        font="display"
        mobileSize="6xl"
      >
        {item}
      </Label>
    ))}
  </div>
</section>
