---
import SectionRenderer from "@/components/sections/section-renderer.astro";
import TextPage from "@/components/text-page/index.astro";
import Layout from "@/layouts/layout.astro";
import { loadPageByPathname } from "@/lib/sanity";

const { path } = Astro.params;
const { countryCode, defaultCountryCode } = Astro.locals;

const pathSegments = path ? path.split("/") : [];

// Check if we are on a country code route
const isCountryCode = countryCode !== defaultCountryCode;

// Extract the actual path without country code
const actualPath = isCountryCode ? pathSegments.slice(1).join("/") : path;
const pathname = actualPath ? `/${actualPath}` : "/";

const result = await loadPageByPathname(pathname);

if (!result) {
  return Astro.redirect("/404", 404);
}

const templates: Record<string, any> = {
  "text.page": TextPage,
  home: SectionRenderer,
  "modular.page": SectionRenderer,
};

const Template = templates[result._type];

// if countryCode === defaultCountryCode then we use the path directly
// otherwise we remove the countryCode from the path
---

<Layout title={result.title} description={result.seo?.description}>
  {Template ? <Template {...result} /> : <div>Template not found: {result._type}</div>}
</Layout>
