---
import type { HttpTypes } from "@medusajs/types";
import { Heading } from "../shared/typography/heading";
import CheckoutSummary from "./checkout-summary.astro";
import LineItem from "./line-item.astro";

interface Props {
  cart: HttpTypes.StoreCart;
}

const { cart } = Astro.props;
---

<div
  class="flex h-fit w-full flex-col gap-4 rounded-lg border border-accent p-4 md:max-w-105"
>
  <Heading desktopSize="xl" font="serif" mobileSize="lg" tag="h3">
    Order details
  </Heading>
  {cart.items?.map((item) => (
    <LineItem item={item} />
  ))}
  <div class="h-px w-full bg-accent" />
  <CheckoutSummary cart={cart} />
</div>
