---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/layout.astro";

export const getStaticPaths = (() => {
  return [
    {
      params: {
        path: "test",
      },
    },
  ];
}) satisfies GetStaticPaths;
---

<Layout>
  <p>helo world</p>
</Layout>
