---
import "@fontsource-variable/instrument-sans"
import "@fontsource/instrument-serif"
import "@fontsource/climate-crisis"
import { ClientRouter } from "astro:transitions";
import "../styles/global.css"
import dynamicFavicon from '../components/dynamic-favicon'

interface Props {
  title?: string;
  description?: string;
}

const { title = "Munchies", description = "Delicious cookies delivered to your door" } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-clip overscroll-y-none scroll-smooth" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
    <script set:html={dynamicFavicon} is:inline />
    <ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>
